.courseBox {
  /*轮播图和列表*/
  .listBox {
    //=>轮播图
    .slick-slide {
      height: 3rem;
      overflow: hidden;

      img {
        display: block;
        width: 100%;
        height: 3rem;
      }
    }

    .slick-active {
      button {
        background: #9D0800 !important;
      }
    }
  }

}