html {
    font-size: 100px !important;
}

html, body {
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    background: #F3F3F3;
    color: rgb(51, 51, 51);
    font-family: "Helvetica Neue", STHeiTi, sans-serif;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box; /* Safari */
}

.mhome {
    padding: 0;
    min-width: 320px;
    max-width: 640px;
    margin: 0 auto;
}

.viewport {
    padding: 0 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div, p, ul, li, ol, dl, dt, dd, span, img, input, table, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    list-style-type: none;
}

i, em {
    font-style: normal;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: "";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    clear: both;
    overflow: hidden;
}

.clearfix {
    zoom: 1;
}

.ce {
    margin: 0 auto;
    text-align: center;
}

.cl {
    clear: both;
}

a {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

/*======覆盖苹果手机input提交样式======*/
input[type="submit"], input[type="reset"], input[type="button"] {
    -webkit-appearance: none;
}

/*ios系统中元素被触摸时产生的半透明灰色遮罩去掉*/
a, button, input, textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/*-webkit-user-modify:read-write-plaintext-only; */
/*input type=number*/
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none !important;
}

/* chrome and safari */