.cwj-brand-box {
  .brand-img-box {
    overflow-x: auto;
    display: flex;
    flex-direction: row;
    flex: 1 1 16.67%;
    &::-webkit-scrollbar {
      display: none;
    }
    .brand-img {
      flex: 1;
      img {
        width: 1.72rem;
      }
    }
  }
}