* {
    font-size: 1%;
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", STHeiTi, sans-serif;
}

.tab {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .5rem;
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.tab .tab_link1 .icon {
    display: flex;
    flex-direction: row;
    width: .24rem;
    height: .24rem;
    background: url("../../../src/images/img.png") no-repeat;
    background-size: .24rem;
    background-position: 0 0;
    margin-left: 2px;
}

.tab .tab_link1 span {
    font-size: 14px;
    color: #7f7f7f;
}

.tab .tab_link1 span:hover {
    color: #845f3f;
}

.tab .tab_link1:hover .icon {
    background-position: 0 11%;
}

.tab .tab_link2 .icon {
    display: flex;
    flex-direction: row;
    width: .24rem;
    height: .24rem;
    background: url("../../../src/images/img.png") no-repeat;
    background-size: .24rem;
    background-position: 0 22%;
    margin-left: 3px;
}

.tab .tab_link2 span {
    font-size: 14px;
    color: #7f7f7f;
}

.tab .tab_link2 span:hover {
    color: #845f3f;
}

.tab .tab_link2:hover .icon {
    background-position: 0 33%;
}

.tab .tab_link3 .icon {
    display: flex;
    flex-direction: row;
    width: .24rem;
    height: .24rem;
    background: url("../../../src/images/img.png") no-repeat;
    background-size: .24rem;
    background-position: 0 44%;
    margin-left: 3px;
}

.tab .tab_link3 span {
    font-size: 14px;
    color: #7f7f7f;
}

.tab .tab_link3 span:hover {
    color: #845f3f;
}

.tab .tab_link3:hover .icon {
    background-position: 0 55%;
}

.tab .tab_link4 .icon {
    display: flex;
    flex-direction: row;
    width: .24rem;
    height: .24rem;
    background: url("../../../src/images/img.png") no-repeat;
    background-size: .24rem;
    background-position: 0 66%;
    margin-left: 7px;
}

.tab .tab_link4 span {
    font-size: 14px;
    color: #7f7f7f;
}

.tab .tab_link4 span:hover {
    color: #845f3f;
}

.tab .tab_link4:hover .icon {
    background-position: 0 77.5%;
}

.tab .tab_link5 .icon {
    display: flex;
    flex-direction: row;
    width: .24rem;
    height: .24rem;
    background: url("../../../src/images/img.png") no-repeat;
    background-size: .24rem;
    background-position: 0 89%;
    margin-left: 2px;
}

.tab .tab_link5 span {
    font-size: 14px;
    color: #7f7f7f;
    word-wrap: break-word;
}

.tab .tab_link5 span:hover {
    color: #845f3f;
}

.tab .tab_link5:hover .icon {
    background-position: 0 99.5%;
}
