@con-bg: #FFF;
@text-black: #555;
@text-gray: #999;
@text-active: #E01D20;

.transition(@property:all,@duration:1s,@timing-function:linear,@delay:0s) {
  -webkit-transition: @arguments;
  -moz-transition: @arguments;
  -ms-transition: @arguments;
  -o-transition: @arguments;
  transition: @arguments;
}