.tabBox {
    margin: 20px auto;
    width: 600px;
}

.tabBox ul {
    position: relative;
    top: 1px;
}

.tabBox ul li {
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    line-height: 35px;
    cursor: pointer;
    border: 1px solid #AAA;
}

.tabBox ul li.active {
    border-bottom-color: #FFF;
}

.tabBox div {
    display: none;
    height: 150px;
    line-height: 150px;
    text-align: center;
    border: 1px solid #AAA;
}

.tabBox div.active {
    display: block;
}