.cwj-crowd-funding-box {

  .crowd-funding-footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    top: -2px;
    .statistical {
      flex: 1;
      background: #ffffff;
      border-top: 2px solid #EA9338;
      line-height: 38px;
      margin-right: 2px;
      padding: 0 10px;
      box-sizing: border-box;
      span {
        font-size: .14rem;
        color: rgb(102, 102, 102);
        i {
          color: rgb(192, 67, 67);
        }
        &:nth-of-type(2) {
          margin-left: 2px;
          padding: 2px;
          border-radius: 4px;
          background-color: rgb(255, 67, 2);
          color: #fff;
        }
        &:nth-of-type(3) {
          float: right;
        }
      }
      &:nth-of-type(2) {
        margin-right: 0;
      }

    }
  }
}